@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Bạn không có quyền truy cập trang này.
    </div>
</body>
</html>

<!-- CSS
<link href="/Assets/Client/css/bootstrap-theme.css" rel="stylesheet" />
<link href="/Assets/Client/css/font-awesome.min.css" rel="stylesheet" />
<link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" />
<link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Assets/Client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
<link href="/Assets/Client/css/jquery-ui.css" rel="stylesheet" />
-->
<!-- JS
<script src="/Assets/Client/js/jquery-1.11.3.min.js"></script>
<script src="/Assets/Client/js/jquery-ui.js"></script>
<script src="/Assets/Client/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/client/js/move-top.js"></script>
<script type="text/javascript" src="/assets/client/js/easing.js"></script>
<script type="text/javascript" src="/assets/client/js/startstop-slider.js"></script>
-->
